$main-color: #f6f6f6;
$button-color: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #fff;
$text-color: #0f1f1c;
$white: #fefefe;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: $main-color;
}
nav {
  padding: 40px 0 40px 0;
}
main {
  padding: 0 8% 0 8%;
}
a {
  color: $white;
  text-decoration: none;
}
.container {
  width: 50%;
}
.container2 {
  width: 50%;
}
button {
  cursor: pointer;
  background: $button-color;
  transition: 0.3s;
  border: none;
  outline: none;
}
button:hover {
  opacity: 0.8;
}

button:active {
  position: relative;
  top: 1px;
}
.auth__btn {
  border-radius: 100px;
  padding: 13px 43px;
  font-weight: 500;
  font-size: 15px;
  color: $white;
  margin-left: 10px;
}
.circle__btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50%;
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.btn {
  border-radius: 27px;
  padding: 13px 43px;
  font-weight: 600;
  font-size: 25px;
  color: $white;
}
.btn_small {
  border-radius: 27px;
  padding: 13px 40px;
  font-weight: 600;
  font-size: 20px;
  color: $white;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-name {
    color: $white;
    font-weight: 700;
    font-size: 20px;
  }
  .link-container {
    display: flex;
    gap: 40px;

    .link {
      position: relative;

      &:hover::after {
        width: 80%;
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 1px;
        content: "";
        width: 0;
        height: 4px;
        border-radius: 100px;
        background-color: #c4c4c4;
        transition: width 0.3s ease;
      }
    }
  }
}
.main {
  display: flex;
}
.romb {
  padding: 0 8% 0 8%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 125vh;
  background-image: url(../images/Rectangle.svg);
  background-size: cover;
  background-position: center;
}
.image-container {
  .main-img {
    position: relative;
    img {
      position: relative;
      width: 111%;
    }
    .circle__group1 {
      position: absolute;
      top: 1px;
    }
    .circle__group2 {
      position: absolute;
      bottom: 1px;
      right: 1px;
    }
    .vector__group1 {
      position: absolute;
      bottom: 1px;
      img {
        width: 42px;
      }
    }
    .vector__group2 {
      position: absolute;
      right: 1px;
      top: 1px;
      img {
        width: 42px;
      }
    }
  }
}
.container-title {
  border-radius: 15px;
  padding: 11px 30px;
  background: rgba(255, 255, 255, 0.25);
  width: max-content;

  .text {
    color: $white;
    font-size: 18px;
    font-weight: 500;
  }
}
.container-title2 {
  margin-top: 5px;
  .text {
    color: $white;
    font-size: 55px;
    font-weight: 600;
  }
}
.container-discription {
  margin-top: 30px;
  .text {
    color: $white;
    font-size: 25px;
    font-weight: 500;
    opacity: 0.5;
  }
}
.container-btn {
  margin-top: 68px;
  .btn {
  }
}
.container-section {
  display: flex;
  gap: 22px;
  margin-top: 40px;
  .container-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .container-title {
      .text {
        font-size: 30px;
        font-weight: 600;
        color: $text-color;
      }
    }

    .container-title2 {
      .text {
        font-size: 55px;
        font-weight: 600;
        color: $text-color;
      }
    }
    .container-discription {
      .text {
        font-size: 25px;
        font-weight: 500;
        color: $text-color;
        opacity: 0.5;
      }
    }
    .container-btn {
    }
    .btn_small {
    }
  }

  .slider-container {
    position: relative;
    width: 90%;
    overflow: hidden;
    padding: 20px;
    .circle__btn {
      position: absolute;
      top: 50%;
      left: 1px;
    }
  }

  .slider {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    width: max-content;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-shrink: 0;
    img {
      padding: 20px;
    }
  }
}
.container-section2 {
  margin-top: 100px;
  display: flex;
  gap: 40px;
  .image-block {
    img {
      border-radius: 90px;
    }
  }
  .content-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .text {
      color: $text-color;
      font-size: 45px;
      font-weight: 500;
    }
    .avatar-block {
      display: flex;
      align-items: center;
      gap: 20px;
      .avatar {
        border-radius: 50%;
        background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%),
          #fff;
        width: 140px;
        display: flex;
      }
      .text-block {
        .text-name {
          color: $text-color;
          font-size: 33px;
          font-weight: 500;
        }
        .text-description {
          color: $text-color;
          font-size: 25px;
          font-weight: 400;
          opacity: 0.5;
        }
      }
    }
    .comments {
      color: $text-color;
      opacity: 0.5;
      font-size: 22px;
      font-weight: 500;
    }
    .rate {
      display: flex;
      gap: 10px;
    }
  }
}

.container-section3 {
  text-align: center;
  padding: 45px 25%;
  border-radius: 60px;
  margin-top: 150px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .text {
    margin-top: 115px;
    color: $text-color;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 500;
  }
  .descriptions {
    margin-top: 30px;
    color: $text-color;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    opacity: 0.5;
  }
  .btn_small {
    margin-top: 60px;
  }
  .img1 {
    position: absolute;
    right: 7%;
    top: 10%;
  }
  .img2 {
    position: absolute;
    left: 7%;
    bottom: 10%;
  }
}
.container-section4 {
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .input-container {
    position: relative;
    width: 800px;
    margin: 20px;
    border-radius: 35px;

    input {
      width: 100%;
      box-sizing: border-box;
      background: $white;
      outline: none;
      border: none;
      border-radius: 35px;
      padding: 42px;
    }
    input::placeholder {
      color: $text-color;
      opacity: 0.5;
      font-size: 24px;
      font-weight: 500;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border: none;
      cursor: pointer;
      border-radius: 27px;
      padding: 13px 43px;
      font-weight: 600;
      font-size: 25px;
      color: $white;
    }
  }
}
.footer {
  padding: 4% 8% 4% 8%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-name {
    color: #ff7b4e;
  }
  .link-container {
    display: flex;
    gap: 40px;
    .link {
      color: $text-color;
      opacity: 0.5;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .footer-auth {
    .link {
    }
  }
}

@media (max-width: 1024px) {
  .container-title2 {
    .text {
      font-size: 35px;
    }
  }
  .container-discription {
    .text {
      font-size: 20px;
    }
  }
  .container-section {
    .container-content {
      .container-title {
        .text {
          font-size: 20px;
        }
      }
      .container-title2 {
        .text {
          font-size: 35px;
        }
      }
      .container-discription {
        .text {
          font-size: 20px;
        }
      }
    }
    .slider-container {
    }
  }
  .container-section2 {
    .content-block {
      .text {
        font-size: 35px;
      }
    }
  }
  .container-section3 {
    .text {
      font-size: 35px;
    }
  }
}
@media (max-width: 768px) {
  .romb {
    padding: 0 2% 0 2%;
    height: 110vh;
    .main {
      .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .container2 {
        display: none;
        .image-container {
        }
      }
    }
  }
  main {
    padding: 0 2% 0 2%;
  }
  .container-section2 {
    .image-block {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .content-block {
      padding: 0;
      .text {
        font-size: 28px;
      }
      .avatar-block {
        .avatar {
        }
        .text-block {
          .text-name {
            font-size: 20px;
          }
          .text-description {
            font-size: 18px;
          }
        }
      }
      .comments {
        font-size: 18px;
      }
      .rate {
        img {
          width: 30px;
        }
      }
    }
  }
  .container-section3 {
    padding: 15px 10%;
    .text {
      font-size: 25px;
    }
    .descriptions {
      font-size: 18px;
    }
  }
  .container-section4 {
    .form-block {
      .input-container {
        display: flex;
        justify-content: center;
        width: 600px;
        input {
          padding: 15px;
          width: 80%;
        }
        input::placeholder {
          color: $text-color;
          opacity: 0.5;
          font-size: 18px;
          font-weight: 500;
        }
        button {
          padding: 13px 13px;
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  nav {
    padding: 20px 0 40px 0;
  }
  .navigation {
    flex-wrap: wrap;
    .navigation-name {
      display: block;
      order: 1;
    }
    .link-container {
      gap: 20px;
      margin: auto;
      margin-top: 10px;
      justify-self: center;
      order: 3;
    }
    .navigation-auth {
      order: 2;
    }
  }
  .container-section {
    flex-direction: column;
    .container-content {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }
  .container-section2 {
    flex-direction: column;
    .content-block {
      align-items: center;
      text-align: center;
    }
  }
  .container-section3 {
    margin-top: 40px;
  }
  .container-section4 {
    margin-top: 40px;
    .form-block {
      .input-container {
        display: flex;
        justify-content: center;
        width: 350px;
        input {
          padding: 15px;
          width: 80%;
        }
        input::placeholder {
          color: $text-color;
          opacity: 0.5;
          font-size: 12px;
          font-weight: 500;
        }
        button {
          padding: 13px 13px;
          font-size: 12px;
        }
      }
    }
  }
  .footer {
    padding: 2% 2% 2% 2%;
    flex-wrap: wrap;
    justify-content: space-around;
    .footer-name {
      display: block;
      order: 1;
    }
    .link-container {
      order: 3;
      margin-top: 10px;
    }
    .footer-auth {
      order: 2;
    }
  }
}
